<!DOCTYPE html>
<html lang="zh-CN">
    <head>
      <link rel="stylesheet" href="/assets/uni.9c250e13.css">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>鑫启商城</title>
		<!-- SEO说明： https://uniapp.dcloud.io/collocation/manifest?id=h5-template -->
<!--		<link rel="shortcut icon" href="/static/public/logo.png" />-->
        <!-- Open Graph data -->
        <!-- <meta property="og:title" content="Title Here" />
        <meta property="og:url" content="http://www.example.com/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Description Here" /> -->
		<script>
		  var coverSupport = 'CSS' in window && typeof CSS.supports === 'function' && (CSS.supports('top: env(a)') ||
		    CSS.supports('top: constant(a)'))
		  document.write(
		    '<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' +
		    (coverSupport ? ', viewport-fit=cover' : '') + '" />')
		</script>
		<!-- 注意：引入的路径一定要正确，一般为绝对路径，否则其他页面可能引用不到 -->
<!--        <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />-->
      <script type="module" crossorigin src="/assets/index-C6PK1mZY.js"></script>
      <link rel="stylesheet" crossorigin href="/assets/index-CAl2nLYP.css">
    </head>
    <body>
        <noscript>
            <strong>Please enable JavaScript to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
