@font-face {
    font-family: 'DingTalk Sans';
    src: url('DingTalk-Sans.woff2') format('woff2'),
        url('DingTalk-Sans.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DingTalk JinBuTi';
    src: url('DingTalk-JinBuTi.woff2') format('woff2'),
        url('DingTalk-JinBuTi.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

